@using PetzWorld.Models;
@model List<Dog>;
@{
    ViewData["Title"] = "Dogs List";
}

<body style="background-color:turquoise;">

<p>
    <a asp-controller="Dogs" asp-action="Form">Add Dogs</a>
</p>
<p>
    <a asp-controller="Dogs" asp-action="Delete">Delete Dog data</a>
</p>

<h1>List of all Dogs</h1>
@if (Model.Count == 0)
{
     <p>No dogs have been added yet!</p>
}
<table class="table" style="text-align:center">
    <tr>
        <th style="text-align:center">Id</th>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Breed</th>
        <th style="text-align:center">Weight(lbs)</th>
        <th style="text-align:center">Color</th>
        <th style="text-align:center">Sex</th>
        <th style="text-align:center">Age</th>
        <th style="text-align:center">Info</th>
        <th style="text-align:center">Proof of cuteness❤️❤️</th>
    </tr>
    @foreach (Dog Dog in Model)
    {
        <tr>
            <td style="text-align:center"> @Dog.Id</td>
            <td style="text-align:center"> @Dog.Name</td>
            <td style="text-align:center"> @Dog.Breed</td>
            <td style="text-align:center"> @Dog.Weight</td>
            <td style="text-align:center"> @Dog.Color</td>
            <td style="text-align:center"> @Dog.Sex</td>
            <td style="text-align:center"> @Dog.Age</td>
            <td style="text-align:center"> @Dog.Info - <a asp-controller="Dogs" asp-action="EditInfo" asp-route-id="">Edit</a></td>
            <td style="text-align:center">
                <img height="200"; height:auto; padding:25px; border:unset" src="@Dog.Pic">
            </td>
            </tr>
    }
</table>


</body>