@using PetzWorld.Models;
@model List<Favourite>;

<body style="background-color:turquoise;">

<h1>Favourite Animals!</h1>

@if (Model.Count == 0)
{
     <p>No favourite animal added yet!</p>
}
<table class="table" style="text-align:center">
    <tr>
        <th style="text-align:center">Username</th>
        <th style="text-align:center">DogId</th>
        <th style="text-align:center">Dog Name</th>
    </tr>
    @foreach (Favourite Fav in Model)
    {
        <tr>
            <td style="text-align:center"> @Fav.ApplicationUser.UserName</td>
            <td style="text-align:center"> @Fav.Id</td>
            <td style="text-align:center"> @Fav.Name</td>
            </tr>
    }
</table>

@*<form asp-controller="Favourites" asp-action="Delete" method="post">
   @foreach (var favdata in ViewBag.favourites)
   {
      <div class="form-group">
            <label>
               <span>@favdata.Id : @favdata.Name</span>
               <input type="checkbox" name="favIds" value="@favdata.Id" class="form-control">
            </label>
      </div>
   }
   <input type="submit" value="Delete Selected Favourites" class="btn-primary" />
</form>*@

<input type="submit" value="Delete Favourites">
</body>