<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
    
    @if (ViewBag.dogs != null)
    {
        <table>
            @foreach (var dog in ViewBag.dogs)
            {
                <tr>
                    <td>
                        <p>ID: @dog.PetId</p>
                        <p>Name: @dog.Name</p>
                        <p>Age: @dog.Age</p>
                        <p>Sex: @dog.Sex</p>
                    </td>
                </tr>
            }
        </table>
    }


</div>